[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prospector = "~=1.7"
pyspark = "*"
pre-commit = "*"

[dev-packages]
pre-commit="==2.20.0"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
